services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: polytech
      POSTGRES_PASSWORD: polytech
      POSTGRES_DB: polytech
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

volumes:
  pgdata:
  mongodata:
